<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Characters</title>
    <link rel="stylesheet" href="../styles/characters.css">
    <script src="../src/tarjetas.js" type="module" defer></script>
</head>
<body>
    <header class="header">
        <a href="../index.html">Home</a>
            <a href="../views/create.html">Create a new character</a>
    </header>
    <section  id="contenedor" class="section_cards">
    </section>
</body>
</html>