<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Characters</title>
    <link rel="stylesheet" href="../styles/characters.css">
    <script src="../src/tarjetas.js" type="module" defer></script>
</head>
<body>
    <header class="header">
        <div class="div_top">
            <a href="create.html" class="nav-button" home-btn >New Character</a>
            <a href="../index.html" class="nav-button" gallery-btn>Home</a>
        </div>
    </header>
    <section  id="contenedor" class="gallery-container">
    </section>
    <video muted autoplay loop class="video_one">
        <source src="../assets/img/characters-back.mp4"
        type="video/mp4">
    </video>
</body>
</html>