<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details</title>
    <link rel="stylesheet" href="../styles/details.css">
    <script src="../src/details.js" type="module" defer></script>
</head>
<body>
    <header class="header">
        <div class="div_top">
            <a href="characters.html" class="nav-button" home-btn > Characters</a>
        </div>
    </header>
    <section class="character-card" id="detalle">
    </section>
    <video muted autoplay loop class="video_one">
        <source src="../assets/img/characters-back.mp4"
        type="video/mp4">
    </video>
</body>
</html>
