
@import url(variables.css);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*****************FORMULARIO PERSONAJES****************+*/
video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.section_personajes {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.div_top{
    width: 100%;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    a{
        color: beige;
        position: relative;
        z-index: 2;
    }
}
.article_form {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
    input{
        width: 50%;
    }
}
.form {
    padding: 10px;
    width: 40svw;
    background-color: var(--color-3);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    button{
        width: 50%;
    }
    img{
        width: 20svw;
    }
}
.div_num{
    display: flex;
    input{
        width: 15%;
    }
}
