@import url(variables.css);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    min-height: 100vh;
}
.div_title {
    display: flex;
    gap: 180px;
    h1{
        font-family: "DragonHunter";
        font-size: 7rem;
        color: var(--color-1);
        background: transparent;
    }
}
.div_link {
    display: flex;
    gap: 100px;
    z-index: 2;
    a{  
        text-decoration: none;
        color: azure;
    }
}
video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.section_home{
    margin-top: 24%;
    display: flex;
    flex-direction: column;
    /* gap: 20px;    */
    justify-content: space-around;
    align-items: center;
    background: transparent;
    position: relative;
    z-index: 2;
    img{
        width: 50svw;
        height: auto;
        position: absolute;
        z-index: 2;
    }
}
.boton_inicial {
    width: 10svw;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*****************FORMULARIO PERSONAJES****************+*/
.section_personajes {
    width: 100%;
    height: 100vh;
    background-image: url(../assets/img/best-background-for-every-class-main_1.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;


}
.article_form {
    display: flex;
    justify-content: center;
    align-items: center;
    input{
        width: 50%;
    }
}
.form {
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    button{
        width: 50%;
    }
}
.div_num{
    display: flex;
    input{
        width: 15%;
    }
}
